<form class="form">
    <mat-form-field class="input-width">
        <mat-label>Character Search</mat-label>
        <input matInput placeholder="Ex. bb8" name="searchInput" [(ngModel)]="searchInput">
    </mat-form-field>
</form>

<div class="details-character-slider">
    <mat-slide-toggle (change)="toggleShowCharacters($event)">Show characters</mat-slide-toggle>
    <mat-slide-toggle (change)="toggleShowDetails($event)" [checked]="showDetails">Show details</mat-slide-toggle>
</div>

<mat-list>
    <div *ngFor="let char of characterList | filterCharacters:searchInput; let i = index" >
        <mat-list-item *ngIf="showCharacters">
            <img matListAvatar [src]="char.img" [alt]="char.name">
            <h3 matLine>{{ char.name }}</h3>
            <p matLine *ngIf="showDetails && showCharacters">
                <span>{{ char.gender }} - {{ char.birth_year }}</span>
                <app-force [forceStrength]="char.force" (forceChange)="onForceChange($event, i)"></app-force>
            </p>  
        </mat-list-item>
    </div>
</mat-list>